@import '../../../assets/scss/base/colors';
.tab-list {
  display: flex;
  align-items: center; 
}
.tab-divider {
  width: 2px;
  height: 24px;
  background-color: $gray;
}
.tab{
  height: 46px;
  min-width: 130px;
  padding-inline: 1rem;
  border-inline-start: 8px solid transparent;
  border-radius: 5px;
  display: flex;
  align-items: center;
  align-content: center;
  cursor: pointer;
  &.active{
    background: $gray;
    border-color: $purple;
    p{
      color: $purple;
    }
  }
  p{
    font-size: 16px;
    color: $onyx;
  }
}