<!-- <div class="side-menu relative no-print">
  <ul class="side-list d-flex flex-column accordion" id="accordionExample">
    <ng-container *ngTemplateOutlet="navLink;context:{icon:'home.png',text:'Text',url:''}"></ng-container>
    <ng-container *ngTemplateOutlet="navLink;context:{icon:'chat.png',text:'Text',url:'chat'}"></ng-container>
    <ng-container *ngTemplateOutlet="navLink;context:{icon:'dobox.png',text:'Text',url:'dobox'}"></ng-container>
  </ul>
</div> -->
<div class="card ">
  <p class="font-34 c-purple mt-3">Dobox</p>
</div>

<!-- <ng-template #navLink let-icon="icon" let-text="text" let-url="url">
  <li class="nav-item" [ngClass]="{ active: getCurrentMoudleName() == url }">
    <a class="nav-link" routerLink="/product">
      <img src="../../../../assets/icon/{{icon}}" alt="" class="nav-img">
      <p class="nav-content">
        {{'Text'|translate}}
      </p>
    </a>
  </li>
</ng-template> -->